<!DOCTYPE html>
<html>
  <head>
    <title>Bucket List</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  </head>
  
  <body>



    <div class="row">
      <div class="col s3">
        <% if user_signed_in? %>
        <h6>Hi, <%= current_user.first_name %>! ||
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %></h6>
        <% end %>
      </div>
    </div>


  <h1>Kick-the-Bucket Lists</h1>
    
    <%= render 'layouts/navbar' %>
    
    <%= yield %>

  </body>

</html>
